
@{
    ViewBag.Title = "InstructorChangePass";
    Layout = "~/Views/Shared/_InstructorLayout.cshtml";
    ViewBag.ActiveClass = "active";
}
<script src="~/Scripts/jquery-3.4.1.js"></script>
<div class="settings-widget profile-details">
    <div class="settings-menu p-0">
        <div class="profile-heading">
            <h3>Security</h3>
            <p>Edit your account settings and change your password here.</p>
        </div>
        <div class="checkout-form personal-address">
            <div class="personal-info-head">
                <h4>Change Password</h4>
                <p>We will email you a confirmation when changing your password, so please expect that email after submitting.</p>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <form method="post">
                        <div class="form-group">
                            <label class="form-control-label">Current password</label>
                            <input type="password" id="oldPass" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="form-control-label">Password</label>
                            <div class="pass-group" id="passwordInput">
                                <input type="password" id="newPassword" class="form-control pass-input" placeholder="Enter your password">
                            </div>
                            <div class="password-strength" id="passwordStrength">
                                <span id="poor"></span>
                                <span id="weak"></span>
                                <span id="strong"></span>
                                <span id="heavy"></span>
                            </div>
                            <div id="passwordInfo"></div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label">Confirm New Password</label>
                            <input type="password" id="reEnterPass" class="form-control">
                        </div>
                        <div class="update-profile save-password">
                            <button type="submit" id="changePassBtn" class="btn btn-primary">Save Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $("#oldPass").blur(function () {
        $.ajax({
            url: "/Instructor/MatchPass",
            type: "post",
            data: { "pass": $("#oldPass").val() },
            success: function (result) {
                alert(result);
                $("#changePassBtn").click(function () {
                    if ($("#newPassword").val() == $("#reEnterPass").val()) {
                        $.ajax({
                            url: "/Instructor/changePassword",
                            type: "post",
                            data: { "pass": $("#reEnterPass").val() },
                            success: function (res) {
                                debugger;
                                alert(res);
                            },
                            error: function (res) {
                                alert(res);
                            }
                        });
                    }
                    else {
                        alert("Password not matched.")
                    }
                });
            },
            error: function () {
                alert("Some Error Occured.");
            }
        });
    });

</script>

