
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" type="image/x-icon" href="/content/assets/img/favicon.svg">

    <link rel="stylesheet" href="/content/assets/css/bootstrap.min.css">

    <link rel="stylesheet" href="/content/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="/content/assets/plugins/fontawesome/css/all.min.css">

    <link rel="stylesheet" href="/content/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/content/assets/css/owl.theme.default.min.css">

    <link rel="stylesheet" href="/content/assets/plugins/feather/feather.css">

    <link rel="stylesheet" href="/content/assets/plugins/slick/slick.css">
    <link rel="stylesheet" href="/content/assets/plugins/slick/slick-theme.css">

    <link rel="stylesheet" href="/content/assets/plugins/select2/css/select2.min.css">

    <link rel="stylesheet" href="/content/assets/plugins/swiper/css/swiper.min.css">

    <link rel="stylesheet" href="/content/assets/plugins/aos/aos.css">

    <link rel="stylesheet" href="/content/assets/css/style.css">
</head>
<body class="home-three">

    <div class="main-wrapper">

        <header class="header-three">
            <div class="header-fixed-three header-fixed">
                <nav class="navbar navbar-expand-lg header-nav-three scroll-sticky">
                    <div class="container">
                        <div class="navbar-header">
                            <a id="mobile_btn" href="javascript:void(0);">
                                <span class="bar-icon">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </span>
                            </a>
                            <a href="index-2.html" class="navbar-brand logo">
                                <img src="/content/assets/img/logo/logo.png" class="img-fluid" alt="Logo">
                            </a>
                        </div>
                        <div class="main-menu-wrapper">
                            <div class="menu-header">
                                <a href="index-2.html" class="menu-logo">
                                    <img src="/content/assets/img/logo/logo.svg" class="img-fluid" alt="Logo">
                                </a>
                                <a id="menu_close" class="menu-close" href="javascript:void(0);">
                                    <i class="fas fa-times"></i>
                                </a>
                            </div>
                            <ul class="main-nav">
                                <li class=" active">
                                    <a href="/Home/index">Home</a>
                                </li>
                                <li class="">
                                    <a href="/Home/MyCourse">My Course</a>
                                </li>

                            </ul>
                        </div>

                        @if (User.Identity.IsAuthenticated  && User.IsInRole("Student"))
                        {
                            <ul class="nav header-navbar-rht">
                                <li class="nav-item">
                                    <a href="course-message.html"><img src="/Content/assets/img/icon/messages.svg" alt="img"></a>
                                </li>
                                <li class="nav-item cart-nav">
                                    <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">
                                        <img src="/Content/assets/img/icon/cart.svg" alt="img">
                                    </a>
                                    <div class="wishes-list dropdown-menu dropdown-menu-right">
                                        <div class="wish-header">
                                            <a href="#">View Cart</a>
                                            <a href="javascript:void(0)" class="float-end">Checkout</a>
                                        </div>
                                        <div class="wish-content">
                                            <ul>
                                                <li>
                                                    <div class="media">
                                                        <div class="d-flex media-wide">
                                                            <div class="avatar">
                                                                <a href="course-details.html">
                                                                    <img alt src="/Content/assets/img/course/course-04.jpg">
                                                                </a>
                                                            </div>
                                                            <div class="media-body">
                                                                <h6><a href="course-details.html">Learn Angular...</a></h6>
                                                                <p>By Dave Franco</p>
                                                                <h5>$200 <span>$99.00</span></h5>
                                                            </div>
                                                        </div>
                                                        <div class="remove-btn">
                                                            <a href="#" class="btn">Remove</a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="media">
                                                        <div class="d-flex media-wide">
                                                            <div class="avatar">
                                                                <a href="course-details.html">
                                                                    <img alt src="/Content/assets/img/course/course-14.jpg">
                                                                </a>
                                                            </div>
                                                            <div class="media-body">
                                                                <h6><a href="course-details.html">Build Responsive Real...</a></h6>
                                                                <p>Jenis R.</p>
                                                                <h5>$200 <span>$99.00</span></h5>
                                                            </div>
                                                        </div>
                                                        <div class="remove-btn">
                                                            <a href="#" class="btn">Remove</a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="media">
                                                        <div class="d-flex media-wide">
                                                            <div class="avatar">
                                                                <a href="course-details.html">
                                                                    <img alt src="/Content/assets/img/course/course-15.jpg">
                                                                </a>
                                                            </div>
                                                            <div class="media-body">
                                                                <h6><a href="course-details.html">C# Developers Double ...</a></h6>
                                                                <p>Jesse Stevens</p>
                                                                <h5>$200 <span>$99.00</span></h5>
                                                            </div>
                                                        </div>
                                                        <div class="remove-btn">
                                                            <a href="#" class="btn">Remove</a>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                            <div class="total-item">
                                                <h6>Subtotal : $ 600</h6>
                                                <h5>Total : $ 600</h5>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav-item wish-nav">
                                    <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">
                                        <img src="/Content/assets/img/icon/wish.svg" alt="img">
                                    </a>
                                    <div class="wishes-list dropdown-menu dropdown-menu-right">
                                        <div class="wish-content">
                                            <ul>
                                                <li>
                                                    <div class="media">
                                                        <div class="d-flex media-wide">
                                                            <div class="avatar">
                                                                <a href="course-details.html">
                                                                    <img alt src="/Content/assets/img/course/course-04.jpg">
                                                                </a>
                                                            </div>
                                                            <div class="media-body">
                                                                <h6><a href="course-details.html">Learn Angular...</a></h6>
                                                                <p>By Dave Franco</p>
                                                                <h5>$200 <span>$99.00</span></h5>
                                                                <div class="remove-btn">
                                                                    <a href="#" class="btn">Add to cart</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="media">
                                                        <div class="d-flex media-wide">
                                                            <div class="avatar">
                                                                <a href="course-details.html">
                                                                    <img alt src="/Content/assets/img/course/course-14.jpg">
                                                                </a>
                                                            </div>
                                                            <div class="media-body">
                                                                <h6><a href="course-details.html">Build Responsive Real...</a></h6>
                                                                <p>Jenis R.</p>
                                                                <h5>$200 <span>$99.00</span></h5>
                                                                <div class="remove-btn">
                                                                    <a href="#" class="btn">Add to cart</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="media">
                                                        <div class="d-flex media-wide">
                                                            <div class="avatar">
                                                                <a href="course-details.html">
                                                                    <img alt src="/Content/assets/img/course/course-15.jpg">
                                                                </a>
                                                            </div>
                                                            <div class="media-body">
                                                                <h6><a href="course-details.html">C# Developers Double ...</a></h6>
                                                                <p>Jesse Stevens</p>
                                                                <h5>$200 <span>$99.00</span></h5>
                                                                <div class="remove-btn">
                                                                    <a href="#" class="btn">Remove</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>

                                <li class="nav-item user-nav">
                                    <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">
                                        <span class="user-img">
                                            <img src="" class="stProfile" alt>
                                            <span class="status online"></span>
                                        </span>
                                    </a>
                                    <div class="users dropdown-menu dropdown-menu-right" data-popper-placement="bottom-end">
                                        <div class="user-header">
                                            <div class="avatar avatar-sm">
                                                <img src="" alt="User Image" class="avatar-img rounded-circle stProfile" />
                                            </div>

                                            <div class="user-text">
                                                <h6 id="stName"></h6>
                                                <p class="text-muted mb-0">Student</p>
                                            </div>
                                        </div>
                                        <a class="dropdown-item" href="setting-edit-profile.html"><i class="feather-user me-1"></i> Profile</a>
                                        <a class="dropdown-item" href="setting-student-subscription.html"><i class="feather-star me-1"></i> Subscription</a>
                                        <div class="dropdown-item night-mode">
                                            <span><i class="feather-moon me-1"></i> Night Mode </span>
                                            <div class="form-check form-switch check-on m-0">
                                                <input class="form-check-input" type="checkbox" id="night-mode">
                                            </div>
                                        </div>
                                        <a class="dropdown-item" href="/home/Logout"><i class="feather-log-out me-1"></i> Logout</a>
                                    </div>
                                </li>
                            </ul>
                        }
                        else
                        {

                            <ul class="nav header-navbar-rht align-items-center">
                                <li class="nav-item">
                                    <a class="nav-link login-three-head button" href="/login/login"><span>Login</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link signin-three-head" href="/home/studentRegister">Register</a>
                                </li>
                            </ul>
                        }
                    </div>
                </nav>
            </div>
        </header>
        
        @RenderBody()

        <footer class="footer-three">

            <div class="footer-three-top">
                <div class="container">
                    <div class="footer-three-top-content">
                        <div class="row align-items-center">
                            <div class="col-lg-6 col-md-6 col-12">

                                <div class="footer-widget-three footer-about">
                                    <div class="footer-three-logo">
                                        <img class="img-fluid" src="/content/assets/img/logo/logo.png" alt="logo">
                                    </div>
                                    <div class="footer-three-about">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit nulla gravida ut elit arcu egestas felis. Scelerisque at in magna dolor massa ipsum arcu lacus. Lobortis posuere justo nunc diam ac massa. Maecenas tellus adipiscing ac fames ut ac posuere. Aliquam, integer proin hendrerit euismod et. </p>
                                    </div>
                                    <div class="newsletter-title">
                                        <h6>Get Updates</h6>
                                    </div>
                                    <div class="box-form-newsletter">
                                        <form class="form-newsletter">
                                            <input class="input-newsletter" type="text" placeholder="Enter your email here">
                                            <button class="btn btn-default font-heading icon-send-letter">Subscribe Now</button>
                                        </form>
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-3 col-md-3 col-12">

                                <div class="footer-widget-three footer-menu-three footer-three-right">
                                    <h6 class="footer-three-title">For Instructor</h6>
                                    <ul>
                                        <li><a href="instructor-profile.html">Profile</a></li>
                                        <li><a href="/instructor/dashboard">Login</a></li>
                                        <li><a href="/instructor/Register">Register</a></li>
                                        <li><a href="instructor-list.html">Instructor</a></li>
                                        <li><a href="deposit-instructor-dashboard.html"> Dashboard</a></li>
                                    </ul>
                                </div>

                            </div>
                            <div class="col-lg-3 col-md-3 col-12">

                                <div class="footer-widget-three footer-menu-three">
                                    <h6 class="footer-three-title">For Student</h6>
                                    <ul>
                                        <li><a href="student-profile.html">Profile</a></li>
                                        <li><a href="login.html">Login</a></li>
                                        <li><a href="register.html">Register</a></li>
                                        <li><a href="students-list.html">Student</a></li>
                                        <li><a href="deposit-student-dashboard.html"> Dashboard</a></li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="footer-three-bottom">
                <div class="container">

                    <div class="copyright-three">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="social-icon-three">
                                    <h6>Connect Socially</h6>
                                    <ul>
                                        <li>
                                            <a href="#" target="_blank" class="feather-facebook-icon">
                                                <i class="feather-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank" class="feather-twitter-icon">
                                                <i class="feather-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank" class="feather-linkedin-icon">
                                                <i class="feather-linkedin"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank" class="feather-youtube-icon">
                                                <i class="feather-youtube"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="privacy-policy-three">
                                    <ul>
                                        <li><a href="term-condition.html">Terms & Condition</a></li>
                                        <li><a href="privacy-policy.html">Privacy Policy</a></li>
                                        <li><a href="support.html">Contact Us</a></li>
                                    </ul>
                                </div>
                                <div class="copyright-text-three">
                                    <p class="mb-0">&copy; 2023 DreamsLMS. All rights reserved.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </footer>

    </div>


    <script src="~/content/assets/js/jquery-3.6.0.min.js"></script>

    <script src="~/content/assets/js/bootstrap.bundle.min.js"></script>

    <script src="/content/assets/js/owl.carousel.min.js"></script>

    <script src="~/content/assets/plugins/aos/aos.js"></script>

    <script src="/content/assets/plugins/theia-sticky-sidebar/ResizeSensor.js"></script>
    <script src="/content/assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"></script>

    <script src="/content/assets/js/jquery.waypoints.js"></script>
    <script src="/content/assets/js/jquery.counterup.min.js"></script>

    <script src="/content/assets/plugins/select2/js/select2.min.js"></script>

    <script src="/content/assets/plugins/slick/slick.js"></script>

    <script src="/content/assets/plugins/swiper/js/swiper.min.js"></script>

    <script src="/content/assets/js/script.js"></script>


    @if (User.Identity.IsAuthenticated && User.IsInRole("Student"))
    {

        <script>
            $.ajax({
                url: "/home/fetchAuthorisedUserData",
                type: "get",
                data: { userID: "@User.Identity.Name"},
                success: function (res) {
                    $(".stProfile").attr('src', '/Content/images/StudentProfile/'+ res[1]);
                    $("#stName").text(res[0]);
                },
                error: function () {
                    alert("Some error occured");
                }
            })
        </script>
    }

</body>
</html>
